# Copy this file to  secret.properties  (same folder) and paste your signing
# secret — the SAME hex value that's in your desktop secret.key. This unifies
# licensing: keys issued by your desktop License Console will activate the
# mobile app too.
#
# NEVER commit secret.properties — it's gitignored. Anyone with this value can
# forge license keys.
UMD_SECRET=paste_your_secret.key_hex_here
